<div class="row" ng-if="!ctrl.currentUser">Please log in to see content</div>
<div class="row" ng-if="ctrl.currentUser">
  <div class="col-md-12">
    <ml-input qtext="ctrl.qtext" search="ctrl.search(qtext)" suggest="ctrl.suggest(val)" template="fa" class="search"></ml-input>
  </div>
</div>

<div class="search row" ng-if="ctrl.currentUser">
  <ml-facets class="col-md-3 right-col" facets="ctrl.response.facets" toggle="ctrl.toggleFacet(facet, value)" active-facets="ctrl.mlSearch.activeFacets" negate="ctrl.toggleNegatedFacet(facet,value)"></ml-facets>
  <div class="col-md-9">

    <ml-analytics-embed report-uri="'/ml-analytics-dashboard-reports/test-833453.json'" chart-id="'1'" ml-search="ctrl.mlSearch"></ml-analytics-embed>

    <h4 ng-if="ctrl.response.total === 0">No results to show</h4>

    <div ng-if="ctrl.response.total > 0" class="results">
      <div class="pagination-ctrls">
        <uib-pagination class="pagination-sm" ng-model="ctrl.page" ng-change="ctrl.search()" max-size="10" boundary-links="true" total-items="ctrl.response.total" items-per-page="ctrl.response['page-length']">
        </uib-pagination>
        <ml-snippet set-snippet="ctrl.setSnippet(type)"></ml-snippet>
      </div>
      <ml-metrics search="ctrl.response" ></ml-metrics>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <ml-analytics-embed
               class="col-md-6"
               report-uri="'/ml-analytics-dashboard-reports/embedded-959692.json'"
               chart-id="'1'"
               ml-search="ctrl.mlSearch"></ml-analytics-embed>
             <ml-analytics-embed
               class="col-md-6"
               report-uri="'/ml-analytics-dashboard-reports/embedded-959692.json'"
               chart-id="'2'"
               ml-search="ctrl.mlSearch"></ml-analytics-embed>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <ml-analytics-embed
               class="col-md-6"
               report-uri="'/ml-analytics-dashboard-reports/embedded-959692.json'"
               chart-id="'3'"
               ml-search="ctrl.mlSearch"></ml-analytics-embed>
             <ml-analytics-embed
               class="col-md-6"
               report-uri="'/ml-analytics-dashboard-reports/embedded-959692.json'"
               chart-id="'4'"
               ml-search="ctrl.mlSearch"></ml-analytics-embed>
          </div>
        </div>
      </div>


      <ml-results template="app/search/search-results.html" results="ctrl.response.results"></ml-results>
    </div>
  </div>
</div>
